body{
    background-color:black;
}

#error{
    position:absolute; 
    top:0px;
    left:0px;
    width:50px;
    height:auto;
    cursor:crosshair;
    transition: 0.6s;
    z-index:4;
}
#points{
    position:absolute;
    top:0;
    left:0;
    font-size:30;
}