body {
    overflow: hidden;
}

.tekst {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    left: 0;
    width: 100%;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

#overskrift {
    font-size: 200%;
    height: 10%;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.5);
}

#intro_tekst {
    font-size: 20;
    top: 40%;
    background-color: rgba(243, 243, 243, 95);
    height: 6000;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

#tableboks{
    border: 0;
    background-color: rgba(243, 243, 243, 0);
    border-color: rgba(243, 243, 243, 0);
}