body {
    background-color:rgb(0, 0, 0);
    background-image: URL("./../bilder/bg3.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position:center center;
    overflow:hidden;
    }
     #heks3 {
    position:absolute;
     top:100px;
     animation: rotation 5s infinite linear;
    
     }
     .blink {
     animation: blinker 1.5s linear infinite;
     }

     .rotate {
        animation: rotation 2s infinite linear;
      }


    
     @keyframes blinker {
     50% {
    opacity: 0;
    }

    } 


    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }