.gameframe{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:grey;

}

.player{
    position:absolute;
    width:50px;
    height:50px;
    border-color:black;
    border-style:dashed;
}
#player1{
    left:10px; 
    top:100px;
}




.col_mesh{
    position:absolute;
    background-color:black;
}
#sea{    
    top:45%;
    width:100%;
    height:10px;    
}

#GameWallLeft{
    top:0;
    left:0;
    height:100%; 
    width:1px;
}
#GameWallRight{
    top:0;
    right:1;
    height:100%; 
    width:1px;
}
#GameWallTop{
    top:0;
    left:0;
    height:1px; 
    width:100%;
}
#GameWallBottom{
    position:absolute;
    bottom: 0px;
    left:0;
    height:1px; 
    width:100%;
    background-color:black;
}
