body{
    overflow:hidden;
}
.gameframe{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:grey;

}

.player{
    position:absolute;
    width:50px;
    height:50px;
    border-color:black;
    border-style:dashed;
}
#player1{
    left:10px; 
    top:100px;
    z-index:90;
}
.col_mesh{
    position:absolute;    
}
#sea{    
    top:45%;
    width:100%;
    height:10px; 
    background-color:white;   
}

.color_surface{
    position:absolute;
    background-color:red;
    width:50px;
    height:10px;
    top:45%;
}

.sea_surface{
    position:absolute; 
}


#sea_surface{
    top:45%;
    width:100px; 
    height:10px;
    background-color:grey;      
}






/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

#GameWallLeft{
    top:0;
    left:0;
    height:100%; 
    width:1px;
}
#GameWallRight{
    top:0;
    right:2;
    height:100%; 
    width:1px;
}
#GameWallTop{
    top:0;
    left:0;
    height:1px; 
    width:100%;
}
#GameWallBottom{
    position:absolute;
    bottom: 2px;
    left:0;
    height:1px; 
    width:100%;
    
}


.enemy{
    position:absolute;
    width:50px;
    height:50px;
    border-color:rgb(255, 0, 0);
    border-style:dashed;
    left:40%; 
    bottom:100px;
    color:red;
    transition:.5s;
}
.underwater{
    position:absolute;   
    background:linear-gradient(180deg, rgba(200,197,255,1) 0%, rgba(9,9,121,1) 80%, rgba(0,0,0,1) 100%);
    z-index:0;

}
.hud{
    position:absolute;
    left:0;
    top:0;
    width:450px;
    height:140px;
    background-color:#ffffff8f;
    z-index:9999;
}

.text{
    position:absolute;
    font-family:sans-serif;
    font-weight:bold;
}
#time_left{
    top:0;
    left:0;
}
#time_left_counter{
    top:0;
    left:150px;    
}

#points{
    top:25px;
}
#points_counter{
    top:25px;
    left:150px;
}

#drown_text{
    top:50px;
}
#drown_counter{
    top:50px;
    left:150px;
}

#door_text{
    top:75px;
}
#door_counter{
    top:75px;
    left:150px;
}

#button_text{
    top:100px;
}
#button{
    top:100px;
    left:150px;
}
#gamestate{
    top:120px;
}
#controls{
    left:200px;
}