body{
    background-color:black;
}

#error{
    position:absolute; 
    top:0px;
    left:0px;
    width:50px;
    height:45px;
    cursor:crosshair;
    transition: 1s;
    z-index:4;

    border-color:white;
    border-style: dashed;
}
#player_error{
    border-color:white;
    border-style: dashed;
}
#points{
    position:absolute;
    top:0;
    left:0;
    font-size:30;
}
