#webpage{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#A393BF;

}
.nav{
    position:absolute;
}
#topbar{
    background-color:453750; 
    width:100%;
    top:0px;
    left:0px;
    height:80px;
}
button{
    background-color:#9882ac;
    border:none;
    
}
button:hover{
    background-color:#453750;
    color:white;
    cursor:pointer;
}

/*Searh*/
#search{
    top:5px;
    right:100px;
    height:50%;
    width:300px;   
}

#SearchBox{
    width:150px;
}
#SearchButton{
    right:10px;
}  
/*Searh*/ 

/* SORT*/
#Sort{
    right:100px;
    top:50%;
    height:50%;
    width:300px;    
}
#ApplySort{
    right:10px;
}
#SortSelect{
    width:150px
}
/* SORT*/

/* content*/
.content{
    position:absolute;
    top:80px;
    left:0px;
    width:80%;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}
.AddToCart{
    position:absolute;
    margin-top:-15px;
    margin-left:20px;
    width:30px; 
    height:auto;
}
.AddToCart:hover{
    cursor:pointer;
}
.TableTire{
    width:70px;
    height:auto;
}

/*Checkout*/
#Checkout{
    right:0;
    top:0px;
    width:100px;
    height:80px;
    
}
#CheckoutCart{
    height:50px;
    width:auto;
    bottom:15px;
    left:25px;
}
#CheckoutCart:hover{
    cursor:pointer;
}

#CheckoutItems{
    color:white;
    top:25px;
    left:48px;
    font-weight:bold;
    font-size:small;
}

#CheckoutWindow{
    background-color:#9882AC;
    top:80px;
    right:0px;
    width:400px;
    height:500px;
    
    /*
    animation-name:swoosh_down;
    animation-duration:0.2s;
    */
}
#CheckoutTable{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:400px;
}



/*Animations */
@keyframes swoosh_down{
    from {
        height:0%;
        width:0%; 
        opacity:0;
        right:100px;
    }
    to{
        height:500px;
        opacity:1;
    }
}
